<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ASPWebFormStudentManagementSystem.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="style/site.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
    <form id="form1" runat="server" class="form-style">
        <div class="outer-div">
            <div id="header">
                Student Management System</div>
                <div class="screen">
                    <div class="sidebar">
                        <nav class="sidebarLinks">
                            <asp:HyperLink ID="DashboardLink" runat="server" class="Links" NavigateUrl="~/UI/Dashboard.aspx">Dashboard</asp:HyperLink>
                            <asp:HyperLink ID="AddLink" runat="server" class="Links" NavigateUrl="~/UI/AddStudent.aspx">Add Students</asp:HyperLink>
                            <asp:HyperLink ID="DisplayLink" runat="server" class="Links" NavigateUrl="~/UI/DisplayPage.aspx"> Students List </asp:HyperLink>
                        </nav>
                    </div>

                    <div class="Main">
                        <asp:ContentPlaceHolder ID="MainContent" runat="server">
      
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            <div id="footer">Footer Content</div>
        </div>
        
    </form>

</body>

</html>
