:root{
--header-left-bgcolor:#39088c;
--header-right-up-bg-color:#2a2894;
--header-right-down-bg-color:#4d4bb3;
--sidebar-bg-color:#abaae6;
--data-bg-color:#c3c3eb;
--button-color:#39088c;
--text-color:#ffffff;
}


header{
margin:0px;
display:flex;
flex-direction:row;
flex-wrap:wrap;
height:100px;
width:100%;
}

#header-left{
flex:0 0 30%;
background-color:var(--header-left-bgcolor);
}

#header-right{
flex:1;
display:flex;
flex-direction:column;
}

#header-right-up{
flex:1;
background-color:var(--header-right-up-bg-color);
}

#header-right-down{
flex:1;
background-color:var(--header-right-down-bg-color);
}

.container{
display:flex;
flex-direction:row;
flex-wrap:wrap;
width:100%;
height:100%;
}

#sidebar{
flex:0 0 30%;
background-color:var(--sidebar-bg-color);
}

#data{
flex:1;
background-color:var(--data-bg-color);
}

.button-set{
text-align:center;
margin:10%;
padding:20px;
}

button{
padding:5px;
margin:10px;
background-color:var(--button-color);
border-radius:5px;
color:var(--text-color);
}


/*------------------------Media Query-----------------*/
@media(max-width:430){
.container{
width:100%;
}
}