@layer style{
h2, h3{
    text-align: center;
    color:white;
    font-size: 2rem;
    padding:10px;
}
h2{
    color:black;
}

.nav-btns > button,a{
    margin: 10px;
    cursor: pointer;
    text-decoration:none;
    color:rgb(3, 0, 0);
    padding:10px;
    border-radius:15px;;
}
.form-card{
    box-shadow:10px 10px 10px 10px rgb(123, 123, 125);
}

table, th, tr, td {
    border:2px solid black;
    border-collapse: collapse;
    padding:5px; 
}

.mytable{
    width:100%;
}

thead{
    background-color:rgba(206, 201, 201, 2);
}
 

.user-form{
    margin:20px 20px;
}

input[type="text"],input[type="number"], select{
    position:absolute;
    width:400px;
    left:400px;
    padding:5px;
}

 input[type="radio"],input[type="checkbox"] {
     padding:6px;
 }

}