<!DOCTYPE
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="C:\Gowri\Repositories\Batch-2026\Gowri\layers2\css\main.css" rel="stylesheet" />


    <title>RESPONSIVE LAYERS</title>
</head>

<body>
    <header>
        <div class="header-section">
            <img class="header-img" src="../images/title_logo.jpg" alt="Alternate Text" />
            <a class="signin-btn" href="#">SIGN IN </a>
        </div>
    </header>
    <div class="container">
        <div class="part1">
            <p> <img src="../images/statrs.png" style="width:20px;height:20px;" /> Zero revenue commissions <img src="../images/statrs.png" style="width:20px;height:20px;" />      No hidden charges  </p>
        </div>
        <div class="part2"> <h1> Create and sell online courses your way.</h1> </div>
        <div class="part3"><p>TrainerCentral is your one-stop online training solution to deliver both self-paced training programs and live workshops.</p></div>
        <div class="part4"><a href="#">SIGN UP FOR FREE</a> <a href="#">REQUEST DEMO</a></div>
    </div>

    <div class="card">
        <div class="card-head">
            <h1>Empowering your online training journey</h1>
        </div>
        <div class="card-section">
            <div class="card-img">
                <img src="..\images\statrs.png" alt="Alternate Text" />
            </div>
            <div class="card-data">
                <h2>Build engaging courses</h2>
                <p>Educate your learners through self-paced courses and live workshops.</p><hr />
                <h2>Market and sell </h2>
                <p>Accelerate your course sales through your custom branded website.</p><hr />
                <h2>Accelerate your business growth</h2>
                <p>Scale faster by automating communications, payments, and other business operations.</p><hr />
            </div>
        </div>
    </div>

    <br /><br />

    <div class="card">
        <div class="card-head">
            <h1>Trainer success stories</h1>
        </div>
        <div class="card-section">
            <div class="card-img">
                <img src="..\images\statrs.png" alt="Alternate Text" />
            </div>
            <div class="card-data">
                <h2> Watch Video</h2>
                <p>We are now hosting online classes for more than 60 learners from different time zones. The platform's ability to share multiformat course materials, record videos from live classes, and distribute handouts to learners have been greatly helpful to us.</p><hr />

            </div>
        </div>
    </div>

    <br /><br /><br />
    <footer>
        © 2025, Zoho Corporation Pvt. Ltd. All Rights Reserved. 
    </footer>

</body>
</html>